node_modules/
android-app/android/local.properties
android-app/android/.gradle/
android-app/android/build/
android-app/android/app/build/
android-app/android/captures/
android-app/android/*.iml
android-app/android/.idea/
*.log
