node_modules/
android-app/android/local.properties
android-app/android/.gradle/
android-app/android/build/
android-app/android/app/build/
android-app/android/captures/
android-app/android/*.iml
android-app/android/.idea/
*.log

android-native/local.properties
android-native/.gradle/
android-native/build/
android-native/app/build/
android-native/captures/
android-native/*.iml
android-native/.idea/
android-native/app/google-services.json
